.professor {
	position: relative;
	width: calc(100% - 60px);
    max-width: calc(var(--max-width) - 60px);
	height: fit-content;

	margin: 10px auto;
	padding: 0.5em 30px;
	border-radius: 5px;

	background-color: #2a2c30;
	box-shadow: 5px 5px 5px #0002;

	display: flex;
	flex-direction: column;

	overflow: auto;

	transition: all 100ms ease;
}

.professor > .title {
	width: 80%;
	padding: 10px 0;

	display: flex;
	align-items: center;
	gap: 20px;

	color: white;
}

.professor > .title > h3 {
	cursor: default;
	font-weight: 500;
}

.professor > .title > .arrow {
	transition: all 300ms ease;
}

.professor:hover .title .arrow {
	transform: rotate(90deg);
}

.professor > .imagem {
	overflow: hidden;
	border-radius: 20%;
	width: auto;
	height: 70%;
	aspect-ratio: 1;
	position: absolute;
	top: 50%;
	right: 34px;
	transform: translateY(-50%);
}

.professor > .imagem > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.professor > .description {
	height: fit-content;
	max-height: 0;

	display: flex;
	flex-direction: column;
	gap: 10px;

	color: white;

	overflow: hidden;

	transition: all 300ms ease;
}

.professor .mail,
.professor .preferencia {
	color: #cacaca;

	display: flex;
	align-items: center;
	gap: 20px;

	text-transform: lowercase;

	transition: all 300ms ease;

	cursor: default;
}

.professor .mail a {
	color: white;
	transition: all 300ms ease;

	cursor: pointer;
}

.professor .mail:hover,
.professor .mail:hover a {
	color: var(--primary-color-light);
}

.professor .preferencia:hover {
	color: crimson;
}

.professor:hover {
	max-height: 500px;
}

.professor:hover .description {
	margin: 10px 0;
	max-height: 300px;
}
