:root {
	--primary-color-light: hsl(158, 83%, 54%);
	--primary-color: hsl(158, 83%, 34%);
	--primary-color-hover: hsl(158, 83%, 24%);
	--background-color: #36393f;

	--footer-color: #424242;
	--footer-height: 4em;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
	background-color: var(--background-color);
}

main {
	width: 100%;
	height: calc(100% - var(--footer-height));

	display: flex;
	justify-content: center;
	align-items: center;
}

::-webkit-scrollbar {
	width: 5px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-thumb {
	background-color: var(--primary-color); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
}

@keyframes textGradientAnimation {
	from {
		background-position: 100%;
	}
	to {
		background-position: -100%;
	}
}
