:root {
	--max-width: 800px;

	--primary-color-light: hsl(158, 83%, 54%);
	--primary-color: hsl(158, 83%, 34%);
	--primary-color-hover: hsl(158, 83%, 24%);
	--background-color: #36393f;

	--danger-color: #f7665e;
	--warning-color: #fbd757;
	--success-color: #73d673;
	--info-color: #44c9e1;

	--cancel-color-transparent: hsla(3, 91%, 67%, 0.3);
	--cancel-color: #f7665e;
	--cancel-color-hover: #d4534c;

	--confirm-color: #73d673;
	--confirm-color-hover: #7ce97c;

	--footer-color: #202024;

	--border-radius: 1em;

	--transition-ease: cubic-bezier(0.4, 0, 0.2, 1);
	--default-all-transition: all 0.2s var(--transition-ease);
}

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	color: inherit;
}

body {
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
	background-color: var(--background-color);
	color: #fff;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#main {
	position: relative;
	width: 100%;
	flex: 1;

	display: flex;
	justify-content: center;
	align-items: center;
}

::-webkit-scrollbar {
	width: 5px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-thumb {
	background-color: var(--primary-color); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
}

.scrollableContent {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	max-height: 80vh;
}

@keyframes textGradientAnimation {
	from {
		background-position: 100%;
	}
	to {
		background-position: -100%;
	}
}
