.pageCenter {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	display: flex;
	gap: 2em;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.links {
	--pressed-location: 10px;
	--pressed-length: 10px;

	padding: 10px 20px;
	width: 5em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;

	border-radius: 10px;

	font-size: 1em;
	text-decoration: none;
	text-align: center;

	color: aliceblue;
	background-color: #2a2c30;
	box-shadow: 0px var(--pressed-location) 0px var(--primary-color);
	transform: translateY(calc(var(--pressed-length) - var(--pressed-location)));
	transition: all 150ms ease-out;
}

.links:hover {
	--pressed-location: calc(var(--pressed-length) * 0.8);
	transform: translateY(calc(var(--pressed-length) - var(--pressed-location)));
	background-color: #303237;
}

.links:active {
	--pressed-location: 0px;
	transform: translateY(calc(var(--pressed-length) - var(--pressed-location)));
	background-color: #34363a;
}
