.wrapper {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.links {
	padding: 10px 20px;
	width: 5em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;

	border-radius: 10px;

	font-size: 1em;
	text-decoration: none;
	text-align: center;

	color: aliceblue;
	background-color: #2a2c30;
	box-shadow: 0px 10px 0px var(--primary-color);
	transition: all 150ms ease-out;
}

.links:hover {
	background-color: #34363a;
	box-shadow: 0px 0px 0px var(--primary-color-hover);
	transform: translateY(10px);
}
