.wrapperFlex {
	margin: 20px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sumir {
	max-height: 0;
	margin: 0;
	padding: 0 30px;
	overflow: hidden;
}

.notFound {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;

	color: white;
	font-weight: 100;
}

.notFound > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}

.notFound > button {
	background: #0f9e6a;
	font-size: 1em;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 4px;
	transition: all 100ms ease-out;
}

.notFound > button:disabled {
	cursor: not-allowed;
	background: #535755;
	color: #fff;
	opacity: 0.8;
}

.notFound > button:disabled:hover {
	cursor: not-allowed;
	background: #535755;
	color: #fff;
	opacity: 0.8;
}

.notFound > button:hover {
	background: #096e49;
}

@keyframes rotate360 {
	to {
		transform: rotate(-360deg);
	}
}
