.footer {
	width: 100%;
	height: var(--footer-height);

	margin-top: auto;

	color: white;
	background-color: #202024;

	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

.footer i {
	font-size: 0.8em;
}

.footer a {
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.1em;

	-webkit-background-clip: text;
	background-clip: text;

	background-image: linear-gradient(90deg, #08acae, #13974a, #08acae);

	background-size: 200%;
	background-position: 0%;

	animation: textGradientAnimation 2s infinite;

	color: transparent;
}
