.link {
	background: #0f9e6a;
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;

	text-decoration: none;
	font-weight: 500;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;

	font-size: 1em;

	cursor: pointer;

	transition: all 100ms ease-out;
}

.link:hover {
	background: #096e49;
}
